<ion-header>
  <app-header></app-header>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="form-container">
    <form>
        <ion-toolbar>
          <ion-title class="form-title">Cadastro</ion-title>
        </ion-toolbar>
        <ion-list lines="none">
          <ion-label  class="form-label">E-mail</ion-label>
          <ion-input placeholder="Digite seu E-mail." class="form-input" type="text"></ion-input>
        </ion-list>
        <ion-list lines="none">
          <ion-label position="stacked" class="form-label">Nome Completo</ion-label>
          <ion-input placeholder="Digite seu nome completo." class="form-input" type="text"></ion-input>
        </ion-list>
        <ion-list lines="none">
          <a>Esqueci minha Senha</a>
        </ion-list>
        
        <ion-button expand="block" color="success"> Login </ion-button>
    </form>
  </div>
</ion-content>

