<ion-header color="dark">
  <ion-toolbar color="dark">
    <div
      style="
        margin: 20px 0;
        padding: 0 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #fff;
      "
    >
      <div>
        <ion-menu-button color="light"></ion-menu-button>
      </div>
      <div>
        <img width="80" src="../../assets/logo.png" />
      </div>
      <div>
        <ion-button color="dark" (click)="handleSearchBar()"
          ><img src="../../assets/search_icon.png"
        /></ion-button>
      </div>
    </div>
  </ion-toolbar>
  <!--
    <ion-toolbar [hidden]="isSearchBarHidden" color="dark">
      <ion-searchbar (ionChange)="searchProducts($event)" class="search-input" animated showCancelButton="always" placeholder="Buscar..." color="light">
      </ion-searchbar>
    </ion-toolbar>
  -->
</ion-header>
