<ion-header color="dark">
  <ion-toolbar color="dark">
    <div
      style="
        margin-top: 30px;
        padding: 0 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #fff;
      "
    >
      <div>
        <ion-menu-button color="light"></ion-menu-button>
      </div>
      <div>
          <ion-button [routerLink]="['home']" fill="clear">
            <img width="80" src="../../assets/logo.png" />
          </ion-button>
      </div>
      <div>
        <ion-button color="dark"
          ><img src="../../assets/search_icon.png"
        /></ion-button>
      </div>
    </div>
  </ion-toolbar>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
