<ion-header>
  <app-header></app-header>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    
    <ion-card>
      <div style="text-align: center; margin: 20px auto 0 auto;">
        <img src="../../../assets/iphone_1.png" width="120px" alt="Smartphone">
      </div>
      <ion-card-header>
        <ion-card-title class="product-title">iPhone 11 Pro</ion-card-title>
        
        <ion-card-subtitle class="product-subtitle">Descrição</ion-card-subtitle>
        <ion-card-subtitle class="product-subtitle-content">Iphone 11 Pro - Midnight Green - 128GB</ion-card-subtitle>

        <ion-card-subtitle class="product-subtitle">Cor</ion-card-subtitle>
        <ion-card-subtitle>
          <div class="square-container">
            <div class="square green-square"></div>
            <p class="product-subtitle-content">Midnight Green</p>
          </div>
        </ion-card-subtitle>

        <ion-card-subtitle class="product-subtitle">Modelo</ion-card-subtitle>
        <ion-card-subtitle class="product-subtitle-content">Iphone 11 Pro</ion-card-subtitle>

        <ion-card-subtitle class="product-subtitle">Capacidade</ion-card-subtitle>
        <ion-card-subtitle class="product-subtitle-content">128GB</ion-card-subtitle>
        
        <ion-card-subtitle class="product-subtitle">Preço</ion-card-subtitle>
        <ion-card-subtitle class="product-subtitle-content">
          <sup style="font-size: 14px;color: #767474">R$</sup> <span style="color: #2e4ea1; font-size: 24px"> 1999,00</span>
        </ion-card-subtitle>

      </ion-card-header>
      <ion-card-content>
        <ion-button expand="block" color="success" style="font-weight: bold;"> ADICIONAR AO CARRINHO</ion-button>
      </ion-card-content>
    </ion-card>

  </div>
</ion-content>
