<ion-header>
  <app-header></app-header>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    
    <ion-card *ngIf="product !== undefined && product !== '' && product !== null">
      <div style="text-align: center; margin-top: 20px;">
        <img src="{{product.fotoEmString}}" width="120px" />
      </div>
      <ion-card-header>
        <ion-card-title class="product-title">{{product.modelo}}</ion-card-title>
        
        <ion-card-subtitle class="product-subtitle">Descrição</ion-card-subtitle>
        <ion-card-subtitle class="product-subtitle-content">{{product.descricao}}</ion-card-subtitle>

        <ion-card-subtitle class="product-subtitle">Cor</ion-card-subtitle>
        <ion-card-subtitle>
          <div class="square-container">
            <div class="square green-square"></div>
            <p class="product-subtitle-content">{{product.cor}}</p>
          </div>
        </ion-card-subtitle>

        <ion-card-subtitle class="product-subtitle">Modelo</ion-card-subtitle>
        <ion-card-subtitle class="product-subtitle-content">{{product.modelo}}</ion-card-subtitle>

        <ion-card-subtitle class="product-subtitle">Capacidade</ion-card-subtitle>
        <ion-card-subtitle class="product-subtitle-content">(Sem retorno da api)</ion-card-subtitle>
        
        <ion-card-subtitle class="product-subtitle">Preço</ion-card-subtitle>
        <ion-card-subtitle class="product-subtitle-content">
          <sup class="product-price-simbol">R$</sup>
          <span class="product-price-content">{{product.valor}}</span>
        </ion-card-subtitle>

      </ion-card-header>
      <ion-card-content>
        <ion-button expand="block" color="success" style="font-weight: bold; font-size: 85%;">ADICIONAR AO CARRINHO</ion-button>
      </ion-card-content>
    </ion-card>

  </div>
</ion-content>
