<ion-header>
  <app-header></app-header>
</ion-header>

<ion-content [fullscreen]="true">
  <div classs="container">
    <ion-toolbar style="z-index: 0">
      <h2 class="title">Meus Pedidos</h2>
    </ion-toolbar>

    <ion-grid>
      <ion-row>
        <ion-col size="3">
          <h5
            style="
              font-size: 10px;
              text-align: center;
              font-family: 'Poppins-Bold';
            "
          >
            Nº Pedido
          </h5>
        </ion-col>
        <ion-col size="3">
          <h5
            style="
              font-size: 10px;
              text-align: center;
              font-family: 'Poppins-Bold';
            "
          >
            Tempo Contrato
          </h5>
        </ion-col>
        <ion-col size="3">
          <h5
            style="
              font-size: 10px;
              text-align: center;
              font-family: 'Poppins-Bold';
            "
          >
            Valor
          </h5>
        </ion-col>
        <ion-col size="3">

        </ion-col>
      </ion-row>

      <ion-row
      *ngFor="let order of orders; let i = index"
      [ngClass]="{'bg-gray': i%2 === 0}"
        style="display: flex; align-items: center; justify-content: center"
      >
        <ion-col size="3">
          <div style="display: flex; align-items: center;">

            <p
              style="font-size: 10px; line-height: 16px; margin: 0 auto;"
              >
              {{order.idPedidoVenda}}
              </p
            >

          </div>
        </ion-col>
        <ion-col size="3">
          <p
          style="font-size: 10px; line-height: 16px;"
          >{{order.tempoContrato}} ano(s)</p
        >
        </ion-col>
        <ion-col size="3">
          <p style="text-align: center; font-size: 10px">
            R$ {{order.valorFinal.toFixed(2)}}
          </p>
        </ion-col>
        <ion-col size="3">
          <p style="text-align: center; font-size: 10px">
            <a [routerLink]="['/order-info/1']">VER PEDIDO</a>
          </p>
        </ion-col>
      </ion-row>
    </ion-grid>
    

  <br />
  <br />
  </div>
</ion-content>
