* {
  font-family: "Poppins", "Arial", sans-serif;
  color: #222;
}

.container {
  margin: 20px;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
  text-align: center;
  overflow: hidden;
}

.bg-gray {
  background-color: #e7e7e7;
}

.order-card {
  transition: 0.2s all;
}

.order-card:hover {
  background-color: #e7e7e7;
  transform: scale(1.1);
  transition: 0.2s all;
}
