<ion-header>
  <app-header></app-header>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <h2 class="title">Como funciona</h2>
      <p>
        O <b>Leasing</b> seria resumidamente um aluguel, no nosso caso esse aluguel seria uma <b>locação de
          iphones</b>, é um contrato onde o cliente recebe um iphone a escolha dele por um determinado tempo já
        estabelecido por nós, no caso dois anos.
      </p>
      <p>
        O diferencial no funcionamento do <b>leasing</b> seria que no final desse contrato, o cliente tem a opção de
        devolver o iphone ou até mesmo adquirir no final, levando em conta que o aparelho deverá estar em <b>boas
          condições</b> caso decida devolvê-lo.
      </p>
  </div>
</ion-content>
