@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/poppins/Poppins-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Poppins-Bold";
  src: url("../assets/fonts/poppins/Poppins-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}
