* {
  font-family: "Poppins", "Arial", sans-serif;
  color: #222;
}

.form-container {
  margin: 10px;
}

.form-title {
  font-weight: 700;
  font-size: 28px;
  text-align: center;
}

.success-icon {
  text-align: center;
  margin: 0 auto;
  display: block;
  width: 80%;
}
