<ion-header>
  <app-header></app-header>
</ion-header>

<ion-content [fullscreen]="true">
  <div>
    <ion-toolbar>
      <ion-title>Default Title</ion-title>
    </ion-toolbar>
    <ion-item>
      <ion-label position="stacked">Login</ion-label>
      <ion-input placeholder="Digite seu Login."></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked" type="password">Senha</ion-label>
      <ion-input placeholder="Digite sua Senha."></ion-input>
    </ion-item>
  </div>
</ion-content>
