<ion-header>
  <app-header></app-header>
</ion-header>

<ion-content>
  <ion-toolbar color="dark">
    <ion-searchbar
      (ionChange)="searchProducts($event)"
      class="searchbar-input"
      placeholder="Buscar..."
    >
    </ion-searchbar>
  </ion-toolbar>

  <ion-card
    class="product-card"
    *ngFor="let product of products | searchFilter:inputValue"
  >
    <ion-grid>
      <ion-row>
        <ion-col>
          <img src="{{product.fotoEmString}}" />
        </ion-col>
        <ion-col>
          <div>
            <h3 class="product-card-title">{{product.modelo}}</h3>
          </div>
          <div>
            <p class="product-card-text">{{product.descricao}}</p>
            <p class="product-card-text">
              <sup>R$</sup>
              <span style="color: #2e4ea1; font-size: 18px">
                {{product.valor.toLocaleString()}}</span
              >
            </p>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button
            [routerLink]="['/product-info/' + product.idProduto]"
            color="success"
            expand="block"
            class="btn"
            >Ver Produto</ion-button
          >
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>
