* {
  font-family: "Poppins", "Arial", sans-serif;
  color: #222;
}

.product-card {
  text-align: left;
}

.product-card-title {
  font-size: 18px;
  font-weight: bold;
  text-align: left;
  text-transform: uppercase;
}

.product-card-text {
  font-size: 14px;
  text-align: left;
}
