<ion-app>
  <ion-menu side="start" menuId="first" contentId="headerSideMenu">
      <ion-header color="dark">
        <ion-toolbar color="dark">
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>

        <ion-toolbar *ngIf="isLoggedIn" color="dark">
          <ion-avatar style="margin: 10px auto;">
            <img src="../assets/xicrinha.png">
          </ion-avatar>
          <p style="margin: 10px auto; text-align: center;">Olá, <b>{{userLogin}}</b>!</p>

          <div style="display: flex; align-items: center; justify-content: space-around; margin-bottom: 10px;">
            <ion-button color="primary">
              <ion-icon name="person-outline"></ion-icon>
              Meus dados
            </ion-button>
            <ion-button (click)="logout()" color="danger">
              <ion-icon name="log-out-outline"></ion-icon>
              Sair
            </ion-button>
          </div>

        </ion-toolbar>

        <ion-toolbar *ngIf="!isLoggedIn" color="dark">
          <p style="margin: 10px auto; text-align: center;">Você não está logado.</p>

          <div style="display: flex; align-items: center; justify-content: space-around; margin-bottom: 10px;">
            <ion-button [routerLink]="['/login']" color="primary">
              <ion-icon name="log-in-outline"></ion-icon>
              Entrar
            </ion-button>
            <ion-button color="success">
              <ion-icon name="add-outline"></ion-icon>
              Cadastrar
            </ion-button>
          </div>

        </ion-toolbar>

        <ion-list *ngFor="let pages of navigate">
        <ion-menu-toggle auto-hide="true">
          <ion-item [routerLink]="pages.url" routerDirection="forward" >
              <ion-icon [name]="pages.icon" size="small" slot="start"></ion-icon>
                 {{pages.title}} 
          </ion-item>
        </ion-menu-toggle>
        </ion-list>

      </ion-content>
    </ion-menu>
<ion-router-outlet id="headerSideMenu"></ion-router-outlet>
</ion-app>