<ion-app>
  <ion-menu side="start" menuId="first" contentId="headerSideMenu" color="dark">
      <ion-header color="dark">
        <ion-toolbar color="dark">
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content color="dark">
        <ion-list *ngFor="let pages of navigate" color="dark">
        <ion-menu-toggle auto-hide="true">
          <ion-item [routerLink]="pages.url" routerDirection="forward" color="dark">
              <ion-icon [name]="pages.icon" size="small" slot="start"></ion-icon>
                 {{pages.title}} 
          </ion-item>
        </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
<ion-router-outlet id="headerSideMenu"></ion-router-outlet>
</ion-app>