* {
  font-family: "Poppins", "Arial", sans-serif;
  color: #222;
}

.container {
  margin: 20px;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
  text-align: center;
  overflow: hidden;
}

.form-input {
  height: 64px;
  margin: 0 auto;
  background: #ebebeb;
  border-radius: 10px;
}

.form-label {
  width: 61px;
  height: 30px;
  text-align: center;
}

ion-input:focus {
  outline: none;
}
