<ion-header>
  <app-header></app-header>
</ion-header>

<ion-content [fullscreen]="true">

    <div class="container">
      <ion-toolbar style="z-index: 0">
        <h2 class="title">Esqueci minha senha</h2>
      </ion-toolbar>

      <form action="" [formGroup]="formGroup">
        <ion-label class="form-label">E-mail</ion-label>
        <ion-input [(ngModel)]="user.email" formControlName="email" placeholder="Ex: joao.silva@seuphone.com.br" class="form-input" type="text"></ion-input>

        <br />

        <ion-button (click)="recoverPassword()" class="btn" expand="block" color="success"> RECUPERAR </ion-button>
      </form>
    </div>
</ion-content>
