<ion-header>
  <app-header></app-header>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <a href="">
      <img src="../../../assets/best_seller_bg.png" alt="Mais Vendidos" />
    </a>

    <br />

    <h3 style="text-align: left">Conheça as novidades</h3>
    <app-product-slide></app-product-slide>

    <br />

    <ion-card>
      <ion-card-header>
        <ion-card-title style="font-size: 16px;">
          O que é Leasing?
        </ion-card-title>
      </ion-card-header>

        <ion-card-content>
          <p>
            O <b>Leasing</b> seria resumidamente um aluguel, no nosso caso
              esse aluguel seria uma
              <b>locação de iphones</b>...
          </p>

          <a [routerLink]="['/leasing-info']" color="success">+ Quero saber mais</a>
        </ion-card-content>

    </ion-card>

  </div>
</ion-content>
