<ion-header>
  <app-header></app-header>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <a href="">
      <img src="../../../assets/best_seller_bg.png" alt="Mais Vendidos">
    </a>

    <br />

    <h3 style="text-align: left;">Conheça as novidades</h3>
    <app-product-slide></app-product-slide>

    <br />

    <h3 style="text-align: left;">Nossos produtos</h3>

    <ion-card class="product-card">

      <ion-grid>
        <ion-row>
          <ion-col>
            <img src="../../../assets/iphone_2.png" width="90%" />
          </ion-col>
          <ion-col>
            <div>
              <h3 class="product-card-title">IPhone 11</h3>
            </div>
            <div>
              <p class="product-card-text">Midnight Green - 128GB</p>
              <p class="product-card-text"><sup>R$</sup> <span style="color: #2e4ea1; font-size: 18px;"> 1999,00</span></p>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button class="btn" color="success" expand="block">Ver Produto</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-card>

  </div>
</ion-content>
