* {
  font-family: "Poppins", "Arial", sans-serif;
  color: #222;
}

#container {
  text-align: center;
  margin: 10px 20px;
}

ion-card {
  border: none;
  box-shadow: none;
}

.product-card {
  text-align: left;
}

.product-card-title {
  font-size: 16px;
  font-weight: bold;
  text-align: left;
}

.product-card-text {
  font-size: 10px;
  text-align: left;
}
