<ion-header>
  <app-header></app-header>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <ion-toolbar style="z-index: 0;">
      <h2 class="title">Confirmar Pedido</h2>
    </ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="5">
          <h5 class="titulo-tabela">Descrição</h5>
        </ion-col>
        <ion-col size="3">
          <h5 class="titulo-tabela">Qtde.</h5>
        </ion-col>
        <ion-col size="3">
          <h5 class="titulo-tabela">Preço</h5>
        </ion-col>
      </ion-row>


      <ion-row
      *ngFor="let item of itens; let i = index"
      [ngClass]="{'bg-gray': i%2 === 0}" class="linha-tabela"
      >
        <ion-col size="4">
          <div class="conteudo-foto-tabela">
            <img [src]="item.produto.fotoEmString != null ? item.produto.fotoEmString : 'assets/sem-imagem.png'" width="30%" height="30%" />

            <div class="conteudo-descricao-tabela">
              <span class="conteudo-descricao-texto-tabela">{{item.produto.modelo}}</span>
              <br/>
              <span>{{item.produto.descricao}}</span>
            </div>
          </div>
        </ion-col>
        <ion-col size="4">
          <h5 class="conteudo-quantidade-tabela">
            {{item.quantidade}}
          </h5>
        </ion-col>
        <ion-col size="4">
          <p class="conteudo-preco-tabela ">R$ {{item.produto.valor}}</p>
        </ion-col>
      </ion-row>

    </ion-grid>

    <br />

      <div class="margin-left-15">
        <ion-label class="titulo-label-div">Endereço</ion-label>
        <p class="texto-div">
          {{order.endereco}}
        </p>
      </div>


      <ion-list class="center-align" required [formGroup]="formGroup">
        <ion-list-header>
          <ion-label class="titulo-label-div"
            >Duração do Contrato</ion-label
          >
        </ion-list-header>

        <ion-select [(ngModel)]="contratoSelect" formControlName="contratoSelect" (ionChange)="tempoContratoSelectChange($event)" value="{{order.tempo_contrato}}" okText="Confirmar" cancelText="Cancelar" placeholder="Mínimo 2 anos...">
          <ion-select-option value="1">1 Ano</ion-select-option>
          <ion-select-option value="2">2 Anos</ion-select-option>
        </ion-select>
      </ion-list>

      <ion-list class="center-align" required [formGroup]="formGroup">
        <ion-radio-group [(ngModel)]="condicaoRadioOption" formControlName="condicaoRadioOption" (ionChange)="condicaoPagamentoRadioChange($event)">
          <ion-list-header>
            <ion-label class="titulo-label-div"
              >Condição de Pagamento</ion-label
            >
          </ion-list-header>
  
  
          <ion-item
            *ngFor="let opt of condicaoPagamentoOptions"
            class="ion-radio-custom"
          >
            <ion-label style="font-size: 14px">{{opt.label}}</ion-label>
            <ion-radio  color="dark" slot="start" [value]="opt.value"></ion-radio>
          </ion-item>
  
        </ion-radio-group>
      </ion-list>

      <div *ngIf="order.condicao_pagamento === 1" style="margin: auto 20px;">
        <ion-list lines="none">
    
          <ion-label class="form-label">Número Cartão</ion-label>
          <ion-input
            class="form-input"
            type="text"
          ></ion-input>
    
          <br />
    
          <ion-label class="form-label">Nome</ion-label>
          <ion-input
            class="form-input"
            type="text"
          ></ion-input>

          <br />
    
          <ion-label class="form-label">Data Vencimento</ion-label>
          <ion-input
            class="form-input"
            type="text"
          ></ion-input>

          <br />
    
          <ion-label class="form-label">CVV</ion-label>
          <ion-input
            class="form-input"
            type="text"
          ></ion-input>
          
        </ion-list>
      </div>

      
      

    <div style="margin-left: 15px;">
      <ion-label style="text-align: left; font-weight: bold;">Resumo do Pedido</ion-label>
      <p style="font-size: 12px;">
        Total de Produtos: 2 --- R$ 1111,00
      </p>
      <p style="font-size: 12px;">
        Frete: 2 --- R$ 1111,00
      </p>
      <p style="font-size: 12px;">
        Parcelas: 24x --- R$ 222,00
      </p>
      <p style="font-size: 12px;">
        TOTAL: --- <b>R$ {{total()}}</b>
      </p>


    </div>


    <ion-button class="btn" style="margin: 10px" size="large" expand="block" color="success" (click)="orderTest()">Finalizar Compra</ion-button>
    <ion-button class="btn" style="margin: 10px" size="large" expand="block" color="danger" (click)="goBack()">Voltar</ion-button>
  </div>
</ion-content>
