<ion-header>
  <app-header></app-header>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <ion-toolbar style="z-index: 0;">
      <h2 class="title">Confirmar Pedido</h2>
    </ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="5">
          <h5 style="font-size: 14px; text-align: center; font-family: 'Poppins-Bold';">Descrição</h5>
        </ion-col>
        <ion-col size="3">
          <h5 style="font-size: 14px; text-align: center; font-family: 'Poppins-Bold';">Qtde.</h5>
        </ion-col>
        <ion-col size="3">
          <h5 style="font-size: 14px; text-align: center; font-family: 'Poppins-Bold';">Preço</h5>
        </ion-col>
      </ion-row>


      <ion-row
      *ngFor="let item of itens; let i = index"
      [ngClass]="{'bg-gray': i%2 === 0}"style="display: flex; align-items: center; justify-content: center;"
      >
        <ion-col size="4">
          <div style="display: flex; align-items: center;">
            <img [src]="item.produto.fotoEmString != null ? item.produto.fotoEmString : 'assets/sem-imagem.png'" width="30%" height="30%" />

            <div style="font-size: 6px; margin-left: 5px;">
              <span style="font-size: 10px; line-height: 16px; font-weight: bold;">{{item.produto.modelo}}</span>
              <br/>
              <span>{{item.produto.descricao}}</span>
            </div>
          </div>
        </ion-col>
        <ion-col size="4">
          <h5 style="text-align: center; font-size: 12px">
            {{item.quantidade}}
          </h5>
        </ion-col>
        <ion-col size="3">
          <p style="text-align: center; font-size: 10px">R$ {{item.produto.valor}}</p>
        </ion-col>
        <ion-col size="1">
        </ion-col>
      </ion-row>

    </ion-grid>

    <ion-list style="text-align: center;">
        <ion-list-header>
          <ion-label style="text-align: left; font-weight: bold;">Endereço</ion-label>
        </ion-list-header>
        <ion-item style="font-size: 14px;">Av. Alguma coisa, 299 - Santo André/SP - 09110000</ion-item>
    </ion-list>

    <ion-list style="text-align: center;">
      <ion-radio-group value="metodo_pagamento">
        <ion-list-header>
          <ion-label style="text-align: left; font-weight: bold;">Método de Pagamento</ion-label>
        </ion-list-header>
    
        <ion-item style="background-color: #cfcfcf; color: #222; border-radius: 10px; border: 1px solid #222; margin-bottom: 5px; width: 46%; height: 50px; display: inline-block; text-align: center; margin: 0 auto;">
          <ion-label style="font-size: 14px;">Cartão Créd.</ion-label>
          <ion-radio color="dark" slot="start" value="cartao"></ion-radio>
        </ion-item>

        <span style="padding:4px;"></span>
    
        <ion-item style="background-color: #cfcfcf; color: #222; border-radius: 10px; border: 1px solid #222; margin-bottom: 5px; width: 46%; height: 50px; display: inline-block; text-align: center; margin: 0 auto;">
          <ion-label style="font-size: 14px;">Boleto</ion-label>
          <ion-radio color="dark" slot="start" value="boleto"></ion-radio>
        </ion-item>

      </ion-radio-group>
    </ion-list>

    <div style="margin-left: 15px;">
      <ion-label style="text-align: left; font-weight: bold;">Resumo do Pedido</ion-label>
      <p style="font-size: 12px;">
        Total de Produtos: 2 --- R$ 1111,00
      </p>
      <p style="font-size: 12px;">
        Frete: 2 --- R$ 1111,00
      </p>
      <p style="font-size: 12px;">
        TOTAL: --- <b>R$ {{total()}}</b>
      </p>


    </div>


    <ion-button class="btn" style="margin: 10px" size="large" expand="block" color="success">Finalizar Compra</ion-button>
    <ion-button class="btn" style="margin: 10px" size="large" expand="block" color="danger" (click)="goBack()">Voltar</ion-button>
  </div>
</ion-content>
