* {
  font-family: "Poppins", "Arial", sans-serif;
  color: #222;
}

.container {
  margin-top: 20px;
}
.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
  text-align: center;
}

.form-input {
  height: 64px;
  margin: 0 auto;
  background: #ebebeb;
  border-radius: 10px;
}

.form-select {
  height: 64px;
  margin: 0 auto;
  background: #ebebeb;
  border-radius: 10px;
}

.form-label {
  width: 61px;
  height: 30px;
  text-align: center;
}
.bg-gray {
  background-color: #e7e7e7;
}

.titulo-tabela {
  font-size: 14px;
  text-align: center;
  font-family: "Poppins-Bold";
}

.linha-tabela {
  display: flex;
  align-items: center;
  justify-content: center;
}

.conteudo-foto-tabela {
  display: flex;
  align-items: center;
}
.conteudo-descricao-tabela {
  font-size: 6px;
  margin-left: 5px;
}

.conteudo-descricao-texto-tabela {
  font-size: 10px;
  line-height: 16px;
  font-weight: bold;
}

.conteudo-quantidade-tabela {
  text-align: center;
  font-size: 12px;
}

.conteudo-preco-tabela {
  text-align: center;
  font-size: 10px;
}

ion-radio {
  padding: 0;
  margin: 0;
}

.ion-radio-custom {
  background-color: #cfcfcf;
  color: #222;
  border-radius: 10px;
  border: 1px solid #222;
  margin-bottom: 5px;
  width: 46%;
  height: 50px;
  display: inline-block;
  text-align: center;
  margin: 0 auto;
}

.margin-left-15 {
  margin-left: 15px;
}

.titulo-label-div {
  text-align: left;
  font-weight: bold;
  font-size: 14px;
}

.texto-div {
  font-size: 12px;
}

.center-align {
  text-align: center;
}

.validator-error {
  color: red;
  font-size: 12px;
}
